<html>
<head>
<meta charset="utf-8"/>
{% block styles %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap-theme.css')}}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/flex.css')}}"/>
{% endblock %}
{% block js %}
    <script src="{{
      url_for('static', filename='js/jquery.min.js')
    }}">
    </script>
    <script src="{{
      url_for('static', filename='js/jquery-ui/jquery-ui.min.js')
    }}">
    </script>
    <script>


    $(function(){
      var terminer=true;
      $("#heure").text="0";

      var timerIni=0;
      var inter = setInterval(Horloge,1000);

      function Horloge(){
        if(timerIni<30){
          timerIni++;
          $("#heure").text(timerIni);
        }
        else if (timerIni == 30) {
          procedure();
          timerIni = "Temps dépassé !";
        }
      }

      function procedure(){
        var compteur = 0;
        for(var i = 0; i<($("fieldset").length);i++){
          if(i == 0){
          possibilite1 = $("fieldset ul li input")[i];
          possibilite2 = $("fieldset ul li input")[i+1];
          reponse = $("fieldset ul input[type=hidden]")[i];
          }
          else {
            possibilite1 = $("fieldset ul li input")[i*2];
            possibilite2 = $("fieldset ul li input")[i*2+1];
            reponse = $("fieldset ul input[type=hidden]")[i];
          }

          if(possibilite1.checked == true){
            if(possibilite1.value == reponse.value){
              compteur+=1;
            }
          }
          else if (possibilite2.checked == true) {
            if(possibilite2.value == reponse.value){
              compteur+=1;
            }
          }
        }
        window.alert("Vous avez "+compteur+" sur "+($("fieldset").length)+" bonnes réponses à ce quizz !")
        window.location.href = "http://localhost:5000";
      }
    });
    </script>
    <script>
    function procedureValidation(){
      var compteur = 0;
      for(var i = 0; i<($("fieldset").length);i++){
        if(i == 0){
        possibilite1 = $("fieldset ul li input")[i];
        possibilite2 = $("fieldset ul li input")[i+1];
        reponse = $("fieldset ul input[type=hidden]")[i];
        }
        else {
          possibilite1 = $("fieldset ul li input")[i*2];
          possibilite2 = $("fieldset ul li input")[i*2+1];
          reponse = $("fieldset ul input[type=hidden]")[i];
        }

        if(possibilite1.checked == true){
          if(possibilite1.value == reponse.value){
            compteur+=1;
          }
        }
        else if (possibilite2.checked == true) {
          if(possibilite2.value == reponse.value){
            compteur+=1;
          }
        }
      }
      window.alert("Vous avez "+compteur+" sur "+($("fieldset").length)+" bonnes réponses à ce quizz !")
      window.location.href = "http://localhost:5000";
    }
    </script>

{% endblock %}



</head>
<body>
  <h1>Répondre à un sondage</h1>
  <nav id="nav3">
  <div id="currentquestion">
    <form id="frm_qcm">
        {% for elem in Lquestion %}
          <fieldset id="f{{ elem.id }}">
            <legend>{{ elem.title }}</legend>
             <table>
             <tr>
             <td style="vertical-align: top;">
             </td>
               {% if elem.isChecked==True %}
                <td>
                  <ul>
                    <li><input type="radio" name="q{{elem.id}}" id="q{{elem.id}}_first" value="{{ elem.firstAlternative }}" />{{ elem.firstAlternative }}</li>
                    <li><input type="radio" name="q{{elem.id}}" id="q{{elem.id}}_second" value="{{ elem.secondAlternative }}" />{{ elem.secondAlternative }}</li>
                    <input type="hidden" id="q{{elem.id}}_rep" value="{{ elem.firstAlternative }}"/>
                  </ul>
                </td>
                {% else %}
                <td>
                  <ul>
                    <li><input type="radio" name="q{{elem.id}}" id="q{{elem.id}}_first" value="{{ elem.firstAlternative }}" />{{ elem.firstAlternative }}</li>
                    <li><input type="radio" name="q{{elem.id}}" id="q{{elem.id}}_second" value="{{ elem.secondAlternative }}" />{{ elem.secondAlternative }}</li>
                    <input type="hidden" id="q{{elem.id}}_rep" value="{{ elem.secondAlternative }}"/>
                  </ul>
                </td>
              {% endif %}
              </tr>
                </table>
            </fieldset>
        {% endfor %}

    </form>
  </div>

</nav>
<div id="Adecaler">
  {% block timer %}
  <p>30 secondes pour répondre.</p>Timer : <p id="heure">0</p><br>
  {%endblock %}
  <button id="btn_valider" onclick="procedureValidation()">Valider</button>
  <div id="boite_dialogue_resultat"
  title="Résultat">
  <p id="message"></p>
</div>
</div>
</body>
</html>
